:root {
   --grn: #9ef09e;
   --ylw: #ffff8f;
   --blu: #473d8a;
   --opc: #ffffffcc;
   --trn: all 0.3s;
   --blur: blur(10px);
   --gdn: linear-gradient(135deg, var(--grn), var(--ylw));
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   transition: var(--trn);
   font-family: Arial, Helvetica, sans-serif;
}

/* nav */
#navBar {
   top: 0;
   width: 100%;
   padding: 1em;
   display: flex;
   position: sticky;
   align-items: center;
   backdrop-filter: var(--blur);
   background-color: var(--opc);
   justify-content: space-between;
}
#navBar menu,
a {
   list-style: none;
   color: var(--blu);
   text-decoration: none;
}
#navBar .home-link {
   font-weight: bold;
}
#navBar,
.nav-container {
   gap: 1em;
   display: flex;
   align-items: center;
}
#navBar .nav-item2 a {
   gap: 5px;
   display: flex;
}

/* dropdown */
#dropDownParent {
   position: relative;
}
#dropDownChild {
   top: 2em;
   row-gap: 1em;
   display: none;
   padding: 5px 1em;
   width: max-content;
   position: absolute;
   border-radius: 5px;
   flex-direction: column;
   backdrop-filter: var(--blur);
   background-color: var(--opc);
}
#dropDownParent:focus-within #dropDownChild {
   display: flex;
}
#dropDownChild li:last-child {
   opacity: 0.6;
   cursor: none;
   pointer-events: none;
}

/* navbar-button */
#openSidebar {
   border: none;
   display: none;
   background: none;
   color: var(--blu);
}
#closeSidebar {
   border: none;
   display: none;
   background: none;
   color: var(--blu);
}
#startButton {
   padding: 5px 1em;
   background: none;
   color: var(--blu);
   border-radius: 1em;
   transition: var(--trn);
   border: 1px solid var(--blu);
}
#startButton:hover {
   color: white;
   background-color: var(--blu);
}

/* main */
main {
   display: flex;
   flex-direction: column;
}
main section {
   gap: 1em;
   padding: 3em;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: start;
}

/* feedback */
#feedback {
   background: url(../svg/form.svg) no-repeat;
   border-bottom: 1px solid;
   background-size: cover;
}
#feedback h2 {
   font-size: 2rem;
}
#feedback .form-container {
   width: 80vw;
   padding: 1em;
   line-height: 2;
   min-width: 353px;
   border-radius: 1em;
   border: 1px solid #000;
   background-color: var(--opc);
   backdrop-filter: var(--blur);
}
#feedback .form-group {
   display: flex;
   flex-direction: column;
}
#feedback .form-group input,
textarea {
   padding: 1em;
   resize: none;
   border-radius: 1em;
   border: 1px solid;
   font-family: Arial, Helvetica, sans-serif;
}
#feedback .form-group textarea {
   height: 200px;
}
#feedback .form-container button {
   margin-top: 1em;
   background: none;
   padding: 5px 1em;
   border: 1px solid;
   border-radius: 1em;
   transition: var(--trn);

   &:hover {
      color: white;
      background-color: var(--blu);
   }
}

/* tentang kami */
#tentang .tentang-item {
   gap: 3em;
   width: 80vw;
   display: flex;
   min-width: 353px;
   line-height: 1.4;
   text-align: justify;
   align-items: center;
   justify-content: center;

   b {
      font-size: 3rem;
   }
}

/** responsive  */
@media (max-width: 600px) {
   #tentang .tentang-item {
      flex-direction: column;
   }
}
